awkvars.out
*.xls
*.pyc
*.key
*.swp
*.xml
.idea
mysite
aria_log*
ib_buffer_pool
ib_logfile0
ib_logfile1
ibdata1
ibtmp1
multi-master.info
SURIKUMA-LAP.err
SURIKUMA-LAP.pid
*.err
*.pid
*.ibd
*.frm
mariadb
download-data
db-files
db-data