{% include "top.html" %}

{% include "global_top.html" %}

<h1>Global Reco List </h1>

{% if debug %}
{{object_list}}
{% endif %}

<a href="/greco/refresh"> Refresh Recommendation </a>

<br/>
<br/>
Number of object: {{ object_list|length }}

<table>

    <tr>
        <td>
            reco_ticker
        </td>
        <td>
            reco_isin
        </td>
        <td>
            reco_type
        </td>
        <td>
            reco_cause
        </td>

    </tr>
    {% for greco_row in object_list %}
    <tr>
        <td>
            {{ greco_row.reco_ticker }}
        </td>
        <td>
            {{ greco_row.reco_isin }}
        </td>
        <td>
            {{ greco_row.reco_type }}
        </td>
        <td>
            {{ greco_row.reco_cause }}
        </td>

    </tr>
    {% empty %}
    <tr>No greco yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}