{% include "top.html" %}
{% include "bstmtdiv_top.html" %}

<h2>Dividend </h2>

<br>

<a href="/dividend/refresh"> Refresh Recommendation </a>

<br/>
<br/>
Number of object: {{ object_list|length }}
<br/>

<br>

<table>
    <tr>
        <td>
            Date
        </td>
        <td>
            Remarks
        </td>
        <td>
            Company
        </td>
        <td>
            Ticker
        </td>
        <td>
            Amount
        </td>
        <td>
            Total
        </td>
    </tr>
    {% for dividend_row in object_list %}
    <tr>
        <td>
            {{ dividend_row.divi_date }}
        </td>
        <td>
            {{ dividend_row.divi_remarks }}
        </td>
        <td>
            {{ dividend_row.divi_company }}
        </td>
        <td>
            {{ dividend_row.divi_ticker }}
        </td>
        <td>
            {{ dividend_row.divi_amount }}
        </td>
        <td>
            {{ dividend_row.Total }}
        </td>
    </tr>
    {% empty %}
    <tr>No dividend yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}