{% include "top.html" %}
{% include "user_top.html" %}

<h1>Broker Idirect Summary</h1>

<form action="/broker/icidir/sum/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1"> Upload a file</label>
    <input type="file" id="file1" name="file">
    <small>Only accepts CSV/XLS/XLSX files</small>
    <button type="submit">Upload</button>
</form>

Number of object: {{ object_list|length }}
<br>

<table>
    {% for dematsum_row in object_list %}
    <tr>
        <td>
            {{ dematsum_row.stock_symbol }}
        </td>

        <td>
            {{ dematsum_row.comp_name }}
        </td>

        <td>
            {{ dematsum_row.isin_code }}
        </td>

        <td>
            {{ dematsum_row.qty }}
        </td>

        <td>
            {{ dematsum_row.acp }}
        </td>

        <td>
            {{ dematsum_row.cmp }}
        </td>

        <td>
            {{ dematsum_row.pct_change }}
        </td>

        <td>
            {{ dematsum_row.value_cost }}
        </td>

        <td>
            {{ dematsum_row.value_market }}
        </td>

        <td>
            {{ dematsum_row.days_gain }}
        </td>

        <td>
            {{ dematsum_row.days_gain_pct }}
        </td>

        <td>
            {{ dematsum_row.realized_pl }}
        </td>

        <td>
            {{ dematsum_row.unrealized_pl }}
        </td>

        <td>
            {{ dematsum_row.unrealized_pl_pct }}
        </td>

        <td>
            {{ dematsum_row.unused1 }}
        </td>

        <td>
            {{ dematsum_row.comp_rank }}
        </td>

        <td>
            {{ dematsum_row.cap_type }}
        </td>

        <td>
            {{ dematsum_row.funda_reco_type }}
        </td>

        <td>
            {{ dematsum_row.funda_reco_cause }}
        </td>

        <td>
            {{ dematsum_row.cap_weight }}
        </td>

        <td>
            {{ dematsum_row.cap_count }}
        </td>
        <td>
            {{ dematsum_row.cap_cost }}
        </td>

    </tr>
    {% empty %}
    <tr>
        <td>
            No dematsum yet.
        </td>
    </tr>
    {% endfor %}

</table>

{% include "bottom.html" %}