{% include "top.html" %}
{% include "global_top.html" %}

<h1> Fof/ETF : Mutual Funds </h1>

<a href="/fofeti/list/"> List </a> |
<a href="/fofeti/list/aum/"> List (by aum) </a> |
<a href="/fofeti/list/type/"> List (by Type) </a> |
<a href="/fofeti/list/benchmark/"> List (by Benchmark) </a> |
<a href="/fofeti/industry/"> Benchmark Count </a> |
<br>
etf : <a href="/fofeti/list/etf/gold/"> gold etf </a> |
<a href="/fofeti/list/etf/nifty-50/"> nifty 50 etf </a> |
<a href="/fofeti/list/etf/next-50/"> nifty next 50 etf </a> |
<a href="/fofeti/list/etf/mid-150/"> nifty mid 150 etf </a> |
<a href="/fofeti/list/etf/non-gold/"> non-gold etf </a> |
<br>
fof :
<a href="/fofeti/list/fof/gold/"> gold fof </a> |
<a href="/fofeti/list/fof/nifty-50/"> nifty 50 fof </a> |
<a href="/fofeti/list/fof/next-50/"> nifty next 50 fof </a> |
<a href="/fofeti/list/fof/mid-150/"> nifty mid 150 fof </a> |
<a href="/fofeti/list/fof/non-gold/"> non-gold fof </a> |
<br>
My List : <a href="/fofeti/list/benchmark-select/"> Consolidated </a> |
<br>

Download the .xls file from here and convert that to .xlsx before uploading
<br>
<a href="https://www.amfiindia.com/research-information/other-data/mf-scheme-performance-details">
    https://www.amfiindia.com/research-information/other-data/mf-scheme-performance-details
</a>

<br>

<form action="/fofeti/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="files1"> Upload files</label>
    <input type="file" id="files1" name="files" multiple>
    <small>Only accepts CSV/XLS/XLSX files</small>
    <button type="submit">Upload</button>
</form>

<br>
Number of object: {{ object_list|length }}
<br>

Benchmarks Count : {{benchmarks_count}}

<br>

<table>
    <tr>
        <td>
            Number of object: {{ object_list|length }}
        </td>
    </tr>

    <tr>
        <td>
            Scheme Name
        </td>
        <td>
            Type
        </td>
        <td>
            Benchmark
        </td>
        <td>
            AUM (Cr)
        </td>
        <td>
            Count
        </td>
    </tr>
    {% for fofeti_row in object_list %}
    <tr>
        <td>
            {{ fofeti_row.fofeti_scheme }}
        </td>
        <td>
            {{ fofeti_row.fofeti_type }}
        </td>
        <td>
            {{ fofeti_row.fofeti_benchmark }}
        </td>
        <td>
            {{ fofeti_row.fofeti_aum }}
        </td>
        <td>
            {{ fofeti_row.scheme_count }}
        </td>
    </tr>
    {% empty %}
    <tr>No Mutual Funds yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}