{% include "top.html" %}

<h1>AMFI List </h1>
<table>
    <tr>
        <td>
            comp rank
        </td>
        <td>
            comp name
        </td>
        <td>
            comp ISIN
        </td>
        <td>
            BSE symbol
        </td>
        <td>
            NSE symbol
        </td>
        <td>
            avg mcap
        </td>
        <td>
            cap type
        </td>

    </tr>
    {% for amfi_row in object_list %}
    <tr>
        <td>
            {{ amfi_row.comp_rank }}
        </td>
        <td>
            {{ amfi_row.comp_name }}
        </td>
        <td>
            {{ amfi_row.comp_isin }}
        </td>
        <td>
            {{ amfi_row.bse_symbol }}
        </td>
        <td>
            {{ amfi_row.nse_symbol }}
        </td>
        <td>
            {{ amfi_row.avg_mcap }}
        </td>
        <td>
            {{ amfi_row.cap_type }}
        </td>

    </tr>
    {% empty %}
    <tr>No amfi yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}