<td>
    {{ demattxn_row.dt_id }}
</td>

<td>
    {{ demattxn_row.dt_user_id }}
</td>


<td>
    {{ demattxn_row.dt_broker }}
</td>

<td>
    {{ demattxn_row.dt_ticker }}
</td>

<td>
    {{ demattxn_row.dt_isin }}
</td>

<td>
    {{ demattxn_row.dt_action }}
</td>

<td>
    {{ demattxn_row.dt_quantity }}
</td>

<td>
    {{ demattxn_row.dt_price }}
</td>

<td>
    {{ demattxn_row.dt_amount }}
</td>

<td>
    {{ demattxn_row.dt_date }}
</td>

<td>
    {{ demattxn_row.max_txn_date }}
</td>

<td>
    {{ demattxn_row.months_gap }}
</td>

<td>
    {{ demattxn_row.txn_year }}
</td>

<td>
    {{ demattxn_row.txn_amount }}
</td>