{% include "top.html" %}
{% include "user_top.html" %}

<h1>DematTxn</h1>

<br>
<a href="/demat/txn/refresh"> Refresh DematTxn </a>
<br>

Number of object: {{ object_list|length }}
<br>
Total Amount: {{ total_amount }}
<br>

Annual Distribution

<br>

<table>


    <tr>
        <td>
            key
        </td>
        <td>
            value
        </td>
    </tr>

    {% for year_summary in summary_list %}

    {% comment %}
    {{ year_summary }}
    {% endcomment %}

    {% for key, value in year_summary.items %}

    {% if forloop.counter|divisibleby:2 %}
    {% comment %}
    {{ starting index 1 }}
    {% endcomment %}
    {% else %}
    <tr>
        {% endif %}

        <td>
            {{ value}}
        </td>

        {% if forloop.counter|divisibleby:2 %}
    </tr>
    {% endif %}

    {% endfor %}


    {% endfor %}


    <br/>


    {% for month_summary in month_summary_list %}

    {% comment %}
    {{ month_summary }}
    {% endcomment %}

    {% for key, value in month_summary.items %}

    {% if forloop.counter|divisibleby:2 %}
    {% comment %}
    {{ starting index 1 }}
    {% endcomment %}
    {% else %}
    <tr>
        {% endif %}

        <td>
            {{ value }}
        </td>

        {% if forloop.counter|divisibleby:2 %}
    </tr>
    {% endif %}

    {% endfor %}


    {% endfor %}

</table>

{% for year in year_list %}
<a href=/demat/txn/list/{{ year | date:"Y" }}/> {{year | date:"Y"}} </a> |
{% endfor %}


{% for date in date_list %}
{% if forloop.first %}


<a href=/demat/txn/list/> Go Up </a>

<br>

Monthly Archive :

{% endif %}

<a href=/demat/txn/list/{{ date|date:"Y" }}/{{ date|date:"m" }}/> {{ date|date:"M" }} </a> |
{% endfor %}


<table>
    {% for demattxn_row in object_list %}
    <tr>
        {% include "demattxn/demattxn_fields.html" %}
    </tr>
    {% empty %}
    <tr>
        <td>
            No demat txn yet.
        </td>
    </tr>
    {% endfor %}

</table>

{% include "bottom.html" %}