{% include "top.html" %}

{% if debug %}
{{object_list}}
{% endif %}

<br/>

nse_symbol
; comp_name
; bat
; cmp
; low_52w
; high_52w
; up_52w_low
; mos
; txn_date
; txn_gap
; plan_oku
; cur_oku
; tbd_oku
; reco_type
; reco_cause <br/>

{% for phealth_row in object_list %}

{{ phealth_row.nse_symbol }}
; {{ phealth_row.comp_name }}
; {{ phealth_row.bat }}
;=ROUND(GOOGLEFINANCE(CONCATENATE("NSE:",A{{forloop.counter|add:1}}),"price"),0)
;=ROUND(GOOGLEFINANCE(CONCATENATE("NSE:",A{{forloop.counter|add:1}}),"low52"),0)
;=ROUND(GOOGLEFINANCE(CONCATENATE("NSE:",A{{forloop.counter|add:1}}),"high52"),0)
;=IFERROR(ROUND((D{{forloop.counter|add:1}}-E{{forloop.counter|add:1}})*100/E{{forloop.counter|add:1}},0),"-")
;=IFERROR(ROUND((C{{forloop.counter|add:1}}-D{{forloop.counter|add:1}})*100/D{{forloop.counter|add:1}},0),"-")
; "{{ phealth_row.txn_date }}"
; "{{ phealth_row.txn_date|timesince }}"
; {{ phealth_row.plan_oku }}
; {{ phealth_row.cur_oku }}
; {{ phealth_row.tbd_oku }}
; {{ phealth_row.reco_type }}
; {{ phealth_row.reco_cause }}


<br/>

{% empty %}
No phealth yet.
{% endfor %}

{% include "bottom.html" %}