{% include "top.html" %}

<h1>DematSummary List</h1>

<br>
<a href="/demat/sum/list/"> Demat Summary (List) </a>
<br>
<a href="/demat/sum/ticker/"> Demat Summary (Ticker Only) </a>
<br>
<a href="/demat/sum/rank/"> Demat Summary (By Company Rank) </a>

<br>

<table>


    {% for dematsum_row in object_list %}
    <tr>
        <td>
            {{ dematsum_row.stock_symbol }}
        </td>

        <td>
            {{ dematsum_row.company_name }}
        </td>

        <td>
            {{ dematsum_row.isin_code }}
        </td>

        <td>
            {{ dematsum_row.qty }}
        </td>

        <td>
            {{ dematsum_row.acp }}
        </td>

        <td>
            {{ dematsum_row.cmp }}
        </td>

        <td>
            {{ dematsum_row.pct_change }}
        </td>

        <td>
            {{ dematsum_row.value_cost }}
        </td>

        <td>
            {{ dematsum_row.value_market }}
        </td>

        <td>
            {{ dematsum_row.days_gain }}
        </td>

        <td>
            {{ dematsum_row.days_gain_pct }}
        </td>

        <td>
            {{ dematsum_row.realized_pl }}
        </td>

        <td>
            {{ dematsum_row.unrealized_pl }}
        </td>

        <td>
            {{ dematsum_row.unrealized_pl_pct }}
        </td>

        <td>
            {{ dematsum_row.unused1 }}
        </td>

        <td>
            {{ dematsum_row.comp_rank }}
        </td>

    </tr>
    {% empty %}
    <tr>
        <td>
            No dematsum yet.
        </td>
    </tr>
    {% endfor %}

</table>

{% include "bottom.html" %}