AMFI :
<a href="/amfi/list/"> List </a> |
<a href="/amfi/portf-weight/"> Portfolio Amount & Weight (%) </a> |
<a href="/amfi/amount/"> Amount & Deficit by rank </a> |
<a href="/amfi/deficit/"> Deficit by amount </a> |
<a href="/amfi/notable-exclusion/"> Notable exclusions </a> |
<a href="/amfi/notable-inclusion/"> Notable inclusions </a>

<br>
<br>

Indices :
<a href="/indices/list/"> List </a> |
<a href="/indices/industry/"> Industries Count & Companies Count by Industries </a>

<br>
<br>

Gold & ETF/Index :
<a href="/goetf/list/"> Gold & ETF/Index </a> |

<br>
<br>

Demat Summary :
<a href="/demat/sum/list/"> List </a> |
<a href="/demat/sum/ticker/"> Ticker Only </a> |
<a href="/demat/sum/rank/"> By Company Rank </a> |
<a href="/demat/sum/reco/"> By Company Rank with Reco </a> |
<a href="/demat/sum/amount/"> By amount invested </a> |
<a href="/demat/sum/captype/"> Distribution - captype (count, amount, pct) </a>

<br>
<br>

Demat Transaction :
<a href="/demat/txn/list/"> List </a> |
<a href="/demat/txn/gap/"> Gap in Months </a> |
<a href="/demat/txn/stat/"> statistics - cumulative </a> |
<a href="/demat/txn/stat/buy_sell/"> statistics - buy & sell | </a>

<br>
<br>

Dividend :
<a href="/dividend/list/"> List </a> |
<a href="/dividend/amount/"> Dividend Paying Companies (Sorted by Dividend Amount) </a> |
<a href="/dividend/frequency/"> Dividend Paying Companies (Sorted by Dividend Frequency) </a>

<br>
<br>


Mutual Fund :
<a href="/mfund/list/"> Mutual Fund (mf) List </a> |
<br>
<br>