<b> User/Profile </b>

<br>

<b> Net Worth </b> :
<a href="/othinv/list/"> Other Investment </a> |

<br>

<b> MF Central </b> :
<a href="/mfund/list/"> MF list </a> |
<a href="/mfund/amc/list/"> MF list (amc) </a> |
<a href="/mfund/amc/amount/list/"> MF amc (amount / pct) </a> |
<a href="/mfund/category/list/"> MF list (category) </a> |
<a href="/mfund/subcat/amount/list/"> MF captype (amount / pct) </a> |
<a href="/mfund/subcat/list/"> MF list (subcat) </a> |
<a href="/mfund/amount/list/"> MF list (amount) </a> |
<a href="/mfund/reco/list/"> MF list (reco) </a>
<br>

<b> Equity Cumulative </b> :
<a href="/demat/sum/list/"> Equity Sum </a> |
<a href="/demat/txn/list/"> Equity Txn </a> |
<a href="/phealth/list/all/"> P-HEALTH </a>

<br>
<b> Broker </b>
<br>

<b> ICI Direct </b> :
<a href="/broker/icidir/imf/list/"> Broker Icidir MF </a>   |
<a href="/broker/icidir/isum/list/"> Broker Icidir Sum </a> |
<a href="/broker/icidir/itxn/list/"> Broker Icidir Txn </a> |
<br>
<b> Zerodha </b> :
<a href="/broker/zerodha/zsum/list/"> Broker Zerodha Sum </a> |
<a href="/broker/zerodha/ztxn/list/"> Broker Zerodha Txn </a> |
<br>