{% include "top.html" %}

<h1>Dividend Archive Year List </h1>



{% for date in date_list %}
{% if forloop.first %}

<a href=/dividend/list/> Go Up </a>

<br>

{{ date|date:"Y" }} Monthly Archive :

{% endif %}

<a href=/dividend/list/{{ date|date:"Y" }}/{{ date|date:"m" }}/> {{ date|date:"M" }} </a> |
{% endfor %}


<table>
    <tr>
        <td>
            Date
        </td>
        <td>
            Remarks
        </td>
        <td>
            Amount
        </td>
        <td>
            Ticker
        </td>
        <td>
            ISIN
        </td>
    </tr>
    {% for dividend_row in object_list %}
    <tr>
        <td>
            {{ dividend_row.div_date }}
        </td>
        <td>
            {{ dividend_row.remarks }}
        </td>
        <td>
            {{ dividend_row.amount }}
        </td>
        <td>
            {{ dividend_row.ticker }}
        </td>
        <td>
            {{ dividend_row.isin }}
        </td>

    </tr>
    {% empty %}
    <tr>No dividend yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}