{% include "top.html" %}

{% include "user_top.html" %}

<h1>Phealth List </h1>

{% if debug %}
{{object_list}}
{% endif %}

<a href="/phealth/list/all/"> All </a> |
<a href="/phealth/list/buy/"> Buy </a> |
<a href="/phealth/list/hold/"> Hold </a> |
<a href="/phealth/list/sell/"> Sell </a>

<br/>

Number of object: {{ object_list|length }}

<table>

    <tr>
        <td>
            nse_symbol
        </td>
        <td>
            comp_name
        </td>
        <td>
            bhav price
        </td>
        <td>
            bat
        </td>
        <td>
            ftwhl low
        </td>
        <td>
            mos (%)
        </td>
        <td>
            +52w low (%)
        </td>
        <td>
            ca total
        </td>
        <td>
            txn date
        </td>
        <td>
            txn gap
        </td>

        <td>
            plan oku
        </td>
        <td>
            cur oku
        </td>
        <td>
            tbd oku
        </td>
        <td>
            reco type
        </td>
        <td>
            reco cause
        </td>

    </tr>
    {% for phealth_row in object_list %}
    <tr>
        <td>
            {{ phealth_row.nse_symbol }}
        </td>
        <td>
            {{ phealth_row.comp_name }}
        </td>
        <td>
            {{ phealth_row.bhav_price }}
        </td>
        <td>
            {{ phealth_row.bat }}
        </td>
        <td>
            {{ phealth_row.ftwhl_low }}
        </td>
        <td>
            {{ phealth_row.safety_margin }}
        </td>
        <td>
            {{ phealth_row.low_margin }}
        </td>
        <td>
            {{ phealth_row.ca_total }}
        </td>
        <td>
            {{ phealth_row.txn_date }}
        </td>
        <td>
            {{ phealth_row.txn_date|timesince }}
        </td>

        <td>
            {{ phealth_row.plan_oku}}
        </td>
        <td>
            {{ phealth_row.cur_oku }}
        </td>
        <td>
            {{ phealth_row.tbd_oku }}
        </td>
        <td>
            {{ phealth_row.reco_type }}
        </td>
        <td>
            {{ phealth_row.reco_cause }}
        </td>

    </tr>
    {% empty %}
    <tr>No phealth yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}