{% include "top.html" %}
{% include "user_equity_top.html" %}

<h2>Phealth List </h2>

{% if debug %}
{{object_list}}
{% endif %}


<a href="/phealth/list/all-none/"> All - None</a> |
<a href="/phealth/list/buy/"> Buy </a> |
<a href="/phealth/list/hold/"> Hold </a> |
<a href="/phealth/list/sell/"> Sell </a> |
<a href="/phealth/list/insuf/"> Insufficient </a> |
<a href="/phealth/list/all/"> All including Insuf </a> |
<a href="/phealth/list/rebalance/"> Rebalance </a> |

<br/>

Number of object: {{ object_list|length }}

<table id="GoLoDataTable" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>
            nse_symbol
        </th>
        <th>
            comp_name
        </th>
        <th>
            bhav price
        </th>
        <th>
            bat
        </th>
        <th>
            ftwhl low
        </th>
        <th>
            Valuation
        </th>
        <th>
            mos (%)
        </th>
        <th>
            +52w low (%)
        </th>
        <th>
            ca total
        </th>
        <th>
            txn date
        </th>
        <th>
            txn gap
        </th>
        <th>
            industry
        </th>
        <th>
            cap type
        </th>
        <th>
            plan oku
        </th>
        <th>
            cur oku
        </th>
        <th>
            tbd oku
        </th>
        <th>
            funda mental
        </th>
        <th>
            funda reco cause
        </th>
    </thead>
    <tbody>
    {% for phealth_row in object_list %}
    <tr>
        <td>
            {{ phealth_row.nse_symbol }}
        </td>
        <td>
            {{ phealth_row.comp_name }}
        </td>
        <td>
            {{ phealth_row.bhav_price }}
        </td>
        <td>
            {{ phealth_row.bat }}
        </td>
        <td>
            {{ phealth_row.ftwhl_low }}
        </td>
        <td>
            {{ phealth_row.valuation_reco }}
        </td>
        <td>
            {{ phealth_row.safety_margin }}
        </td>
        <td>
            {{ phealth_row.low_margin }}
        </td>
        <td>
            {{ phealth_row.ca_total }}
        </td>
        <td>
            {{ phealth_row.dt_date }}
        </td>
        <td>
            {{ phealth_row.dt_date|timesince }}
        </td>

        <td>
            {{ phealth_row.industry }}
        </td>

        <td>
            {{ phealth_row.cap_type }}
        </td>

        <td>
            {{ phealth_row.plan_oku}}
        </td>
        <td>
            {{ phealth_row.cur_oku }}
        </td>
        <td>
            {{ phealth_row.tbd_oku }}
        </td>
        <td>
            {{ phealth_row.funda_reco_type }}
        </td>
        <td>
            {{ phealth_row.funda_reco_cause }}
        </td>

    </tr>
    {% empty %}
    <tr>No phealth yet.</tr>
    {% endfor %}
    </tbody>
</table>

{% include "bottom.html" %}