{% include "top.html" %}
{% include "user_equity_top.html" %}

<h2>Phealth List </h2>

{% if debug %}
{{object_list}}
{% endif %}

<a href="/phealth/list/all-none/"> All - None</a> |
<a href="/phealth/list/buy/"> Buy </a> |
<a href="/phealth/list/hold/"> Hold </a> |
<a href="/phealth/list/sell/"> Sell </a> |
<a href="/phealth/list/insuf/"> Insufficient </a> |
<a href="/phealth/list/all/"> All including Insuf </a> |
<a href="/phealth/list/rebalance/"> Rebalance </a> |

<br/>

Number of object: {{ object_list|length }}

<table id="GoLoDataTable" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>
            ind_industry
        </th>
        <th>
            cur oku
        </th>
    </thead>
    <tbody>
    {% for phealth_row in object_list %}
    <tr>
        <td>
            {{ phealth_row.ind_industry }}
        </td>

        <td>
            {{ phealth_row.cur_oku_sum }}
        </td>

    </tr>
    {% empty %}
    <tr>No phealth yet.</tr>
    {% endfor %}
    </tbody>
</table>

{% autoescape off %}
{{ plot_div_1 }}
<br/>
{{ plot_div_2 }}
{% endautoescape %}

{% include "bottom.html" %}