{% include "top.html" %}

<h1>BHAV List </h1>
<table>
    <tr>
        <td>

        </td>
    </tr>
    {% for bhav_row in object_list %}
    <tr>
        <td>
            {{ bhav_row.id }}
        </td>
        <td>
            {{ bhav_row.bhav_ticker }}
        </td>
        <td>
            {{ bhav_row.bhav_price }}
        </td>
        <td>
            {{ bhav_row.bhav_isin }}
        </td>
    </tr>
    {% empty %}
    <tr>No bhav yet.</tr>
    {% endfor %}
</table>

{% include "bottom.html" %}