{% include "top.html" %}

<h1>Trendlyne List </h1>

<br>
<a href="/trendlyne/list/"> Trendlyne (list) </a>
<br>
<a href="/trendlyne/reco/"> Trendlyne (Recommendation) </a>
<br>

<table>
    {% if object_list %}
    <tr>
        <td>
            Number of object: {{ object_list|length }}
        </td>
    </tr>

    <tr>
        <td>
            stock_name
        </td>
        <td>
            isin
        </td>
        <td>
            bat
        </td>
        <td>
            der
        </td>
        <td>
            roce3
        </td>
        <td>
            sales2
        </td>
        <td>
            profit5
        </td>
        <td>
            icr
        </td>
        <td>
            pledge
        </td>
        <td>
            low_3y
        </td>
        <td>
            low_5y
        </td>
        <td>
            reco_type
        </td>
        <td>
            reco_cause
        </td>
    </tr>


    {% for tl_row in object_list %}
    <tr>
        <td>
            {{ tl_row.stock_name }}
        </td>
        <td>
            {{ tl_row.isin }}
        </td>
        <td>
            {{ tl_row.bat }}
        </td>
        <td>
            {{ tl_row.der }}
        </td>
        <td>
            {{ tl_row.roce3 }}
        </td>
        <td>
            {{ tl_row.sales2 }}
        </td>
        <td>
            {{ tl_row.profit5 }}
        </td>
        <td>
            {{ tl_row.icr }}
        </td>
        <td>
            {{ tl_row.pledge }}
        </td>
        <td>
            {{ tl_row.low_3y }}
        </td>
        <td>
            {{ tl_row.low_5y }}
        </td>
        <td>
            {{ tl_row.reco_type }}
        </td>
        <td>
            {{ tl_row.reco_cause }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td> No amfi yet.</td>
    </tr>
    {% endfor %}

    {% else %}

    <tr>
        <td> No objects</td>
    </tr>
    {% endif %}

</table>

{% include "bottom.html" %}