apscheduler
django
django-background-tasks
django_heroku
dj-database-url
fuzzymatcher
fuzzywuzzy
gunicorn
mysqlclient
mysql-connector
openpyxl
pandas
plotly
pyexcel
pyexcel-xls
python-dateutil
requests
xlrd
urllib3