apscheduler
asgiref
certifi
chardet
dj-database-url
Django
django-background-tasks
django-heroku
docopt
et-xmlfile
fuzzymatcher
fuzzywuzzy
gotolong
gunicorn
idna
jdcal
mysql-connector
mysqlclient
numpy
openpyxl
pandas
plotly
prettytable
psycopg2
pycryptodome
python-dateutil
pytz
pyexcel
pyexcel-xls
requests
six
sqlparse
xlrd
urllib3
wcwidth
whitenoise
yarg
