{% include "top.html" %}
{% include "user_top.html" %}

<h1>DematTxn</h1>

<form action="/demat/txn/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1"> Upload a file</label>
    <input type="file" id="file1" name="file">
    <small>Only accepts CSV/XLS/XLSX files</small>
    <button type="submit">Upload</button>
</form>

Number of object: {{ object_list|length }}
<br>

Year {{ date|date:"Y" }}

<br/>

Total Amount: {{ total_amount }}
<br>

<br/>

<table>

    <tr>
        <td>
            month
        </td>
        <td>
            amount
        </td>
    </tr>

    {% for year_summary in summary_list %}

    {% comment %}
    {{ year_summary }}
    {% endcomment %}

    {% for key, value in year_summary.items %}

    {% if forloop.counter|divisibleby:2 %}
    {% comment %}
    {{ starting index 1 }}
    {% endcomment %}
    {% else %}
    <tr>
        {% endif %}

        <td>
            {{ value}}
        </td>

        {% if forloop.counter|divisibleby:2 %}
    </tr>
    {% endif %}

    {% endfor %}


    {% endfor %}
</table>


<br/>


{% for date in date_list %}
{% if forloop.first %}


<a href=/demat/txn/list/> Go Up </a>

<br>


Monthly Archive :

{% endif %}

<a href=/demat/txn/list/{{ date|date:"Y" }}/{{ date|date:"m" }}/> {{ date|date:"M" }} </a> |
{% endfor %}


<table>
    {% for demattxn_row in object_list %}
    <tr>
        <td>
            {{ demattxn_row.stock_symbol }}
        </td>

        <td>
            {{ demattxn_row.comp_name }}
        </td>

        <td>
            {{ demattxn_row.isin_code }}
        </td>

        <td>
            {{ demattxn_row.action }}
        </td>

        <td>
            {{ demattxn_row.quantity }}
        </td>

        <td>
            {{ demattxn_row.txn_price }}
        </td>

        <td>
            {{ demattxn_row.brokerage }}
        </td>

        <td>
            {{ demattxn_row.txn_charges }}
        </td>

        <td>
            {{ demattxn_row.stamp_duty }}
        </td>

        <td>
            {{ demattxn_row.segment }}
        </td>

        <td>
            {{ demattxn_row.stt }}
        </td>

        <td>
            {{ demattxn_row.remarks }}
        </td>

        <td>
            {{ demattxn_row.txn_date }}
        </td>

        <td>
            {{ demattxn_row.exchange }}
        </td>

        <td>
            {{ demattxn_row.unused1 }}
        </td>
        <td>
            {{ demattxn_row.max_txn_date }}
        </td>
        <td>
            {{ demattxn_row.months_gap }}
        </td>
        <td>
            {{ demattxn_row.txn_year }}
        </td>
        <td>
            {{ demattxn_row.txn_amount }}
        </td>

    </tr>
    {% empty %}
    <tr>
        <td>
            No demat txn yet.
        </td>
    </tr>
    {% endfor %}

</table>

{% include "bottom.html" %}