{% include "top.html" %}
{% include "user_top.html" %}

<h1>Broker icidir Sum</h1>

<form action="/broker/icidir/isum/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1"> Upload a file</label>
    <input type="file" id="file1" name="file">
    <small>Only accepts CSV/XLS/XLSX files</small>
    <button type="submit">Upload</button>
</form>

Number of object: {{ object_list|length }}
<br>

<table>
    {% for bis_row in object_list %}
    <tr>
        <td>
            {{ bis_row.bis_stock_symbol }}
        </td>

        <td>
            {{ bis_row.bis_company_name }}
        </td>

        <td>
            {{ bis_row.bis_isin_code }}
        </td>

        <td>
            {{ bis_row.bis_qty }}
        </td>

        <td>
            {{ bis_row.bis_acp }}
        </td>

        <td>
            {{ bis_row.bis_cmp }}
        </td>

        <td>
            {{ bis_row.bis_pct_change }}
        </td>

        <td>
            {{ bis_row.bis_value_cost }}
        </td>

        <td>
            {{ bis_row.bis_value_market }}
        </td>

        <td>
            {{ bis_row.bis_days_gain }}
        </td>

        <td>
            {{ bis_row.bis_days_gain_pct }}
        </td>

        <td>
            {{ bis_row.bis_realized_pl }}
        </td>

        <td>
            {{ bis_row.bis_unrealized_pl }}
        </td>

        <td>
            {{ bis_row.bis_unrealized_pl_pct }}
        </td>

        <td>
            {{ bis_row.unused1 }}
        </td>

        <td>
            {{ bis_row.comp_rank }}
        </td>

        <td>
            {{ bis_row.cap_type }}
        </td>

        <td>
            {{ bis_row.funda_reco_type }}
        </td>

        <td>
            {{ bis_row.funda_reco_cause }}
        </td>

        <td>
            {{ bis_row.cap_weight }}
        </td>

        <td>
            {{ bis_row.cap_count }}
        </td>
        <td>
            {{ bis_row.cap_cost }}
        </td>

    </tr>
    {% empty %}
    <tr>
        <td>
            No dematsum yet.
        </td>
    </tr>
    {% endfor %}

</table>

{% include "bottom.html" %}