{% include "top.html" %}
{% include "user_broker_icidir_top.html" %}

<h1>Broker icidir Txn</h1>

<form action="/broker/icidir/itxn/upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1"> Upload a file</label>
    <input type="file" id="file1" name="file">
    <small>Only accepts CSV/XLS/XLSX files</small>
    <button type="submit">Upload</button>
</form>

<a href="/broker/icidir/itxn/reset/">Clear/Reset the data</a> <br>

Number of object: {{ object_list|length }}
<br>

<table>
    {% for bit_row in object_list %}
    <tr>
        <td>
            {{ bit_row.bit_stock_symbol }}
        </td>

        <td>
            {{ bit_row.bit_company_name }}
        </td>

        <td>
            {{ bit_row.bit_isin_code }}
        </td>

        <td>
            {{ bit_row.bit_action }}
        </td>

        <td>
            {{ bit_row.bit_quantity }}
        </td>

        <td>
            {{ bit_row.bit_txn_price }}
        </td>

        <td>
            {{ bit_row.bit_brokerage }}
        </td>

        <td>
            {{ bit_row.bit_txn_charges }}
        </td>

        <td>
            {{ bit_row.bit_stamp_duty }}
        </td>

        <td>
            {{ bit_row.bit_segment }}
        </td>

        <td>
            {{ bit_row.bit_stt }}
        </td>

        <td>
            {{ bit_row.bit_remarks }}
        </td>

        <td>
            {{ bit_row.bit_txn_date }}
        </td>

        <td>
            {{ bit_row.bit_exchange }}
        </td>

        <td>
            {{ bit_row.bit_unused1 }}
        </td>
        <td>
            {{ bit_row.max_txn_date }}
        </td>
        <td>
            {{ bit_row.months_gap }}
        </td>
        <td>
            {{ bit_row.txn_year }}
        </td>
        <td>
            {{ bit_row.txn_amount }}
        </td>

    </tr>
    {% empty %}
    <tr>
        <td>
            No broker icidir txn yet.
        </td>
    </tr>
    {% endfor %}

</table>

{% include "bottom.html" %}