{% include "top.html" %}
{% include "global_config_top.html" %}

<h1>Global Weight List </h1>

<table id="GoLoDataTable" class="display" cellspacing="0">
    <thead>
    <tr>
        <th>cap_type</th>
        <th>cap_weight</th>
    </tr>
    </thead>
    <tbody>
    {% for weight_row in object_list %}
    <tr>
        <td>
            {{ weight_row.gw_cap_type }}
        </td>
        <td>
            {{ weight_row.gw_cap_weight }}
        </td>
    </tr>
    {% empty %}
    <tr>No Weight yet.</tr>
    {% endfor %}
    </tbody>
</table>

{% include "bottom.html" %}